*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}
header {
    min-height: calc(100vh - 80px);
}



a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.nav {
height: 80px;
display: flex;
}


img {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.nav__container {
    width: 100%;
    padding: 0 24px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: white;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 8px;
}


.nav__link:hover { 
    text-decoration: underline;
    color: green;

}

.nav__link--primary {
    border: 2px solid green;
    border-radius: 4px;
}

@media (max-width: 640px) {
 .nav__container {
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
}